################################################################################
######################### Remove /index.php/ from URLs #########################
################################################################################
RedirectMatch ^/index\.php(/.*) $1
