################################################################################
######################### Remove /index.php/ from URLs #########################
################################################################################
AcceptPathInfo Off
Options -Multiviews
RedirectMatch ^/index\.php(/.*) $1
